{% extends 'base.html.twig' %}

{% block title %}{% trans %}product.in.category{% endtrans %}{% endblock %}

{% block body %}
    <div class="row">
        {% for product in products %}

            <div class="col-3 product" style="height: 500px">
                {% if product.getProductImageId() is not empty %}
                    <img width="100%" height="200px" src="{{ product.getProductImageReferences().getPath() }}">
                {% else %}
                    <img width="100%" height="200px" src="/img/product/no-thumbnail.png">
                {% endif %}
                <div style="width: 100%"><strong>{% trans %}Name{% endtrans %}: </strong>{{ product.getName() }} </div>
                <div style="width: 100%"><strong>{% trans %}Categories{% endtrans %}:</strong>
                    {% for category in product.getCategoryReferences().getValues() %}
                        {{ category.getName() }}
                    {% endfor %}
                </div>
                <div style="width: 100%"><strong>{% trans %}Price{% endtrans %}:</strong>  {{ product.getPrice() }}</div>
                <a href="{{ product.getSlug() }}" style="text-decoration: none !important;"> {% trans %}look.product{% endtrans %}</a>
            </div>

        {% endfor %}
    </div>
{% endblock %}